div#block-login= 'Hi, '+name

div.block-log
textarea.block-input(type='text', placeholder='text here')
div.block-write-message
    span.from
    | type text
    
script.
    window.gct_nickname= '#{name}'